{% extends 'base.html.twig' %}

{% block title %}Caméléon Solutions
{% endblock %}

{% block meta_description %}
	{{ 'meta.home_description'|trans }}
{% endblock %}


{% block body %}

	<div class="hero-section">
		<div class="custom-navbar">
			{% include "shared/_navbar.html.twig" with {'navbarClass': 'navbar-transparent'} %}
		</div>
		{% include "home/tree.html.twig" %}
		<div class="effect-container">
			{% include "home/typing.html.twig" %}
		</div>
	</div>

	<div class="container-fluid">
		{% include "home/project.html.twig" %}
	</div>

	<div class="container-fluid reveal">
		<div class="container-services">
			<h3 class="title-service">{{ 'home.services.title'|trans }}</h3>
			{% include "services/listing.html.twig" %}
			<div class="pdf-download-container">
				<h4>{{ 'home.services.pdf.title'|trans }}</h4>
				<p>{{ 'home.services.pdf.description'|trans }}</p>
				<a href="/PDF/Catalogue_interactif.pdf" target="_blank" class="btn-pdf">{{ 'home.services.pdf.open'|trans }}</a>
				<a href="/PDF/Catalogue_non_interactif.pdf" download class="btn-pdf">{{ 'home.services.pdf.download'|trans }}</a>
			</div>

			{% include "services/picto.html.twig" %}
		</div>
	</div>

	<div class="container-fluid reveal">
		<div class="container-services">
			<h3 class="title-service">{{ 'home.realisations.title'|trans }}</h3>
			{% include 'project/realisations.html.twig' with {'project': projects} %}
		</div>
	</div>

	<div class="container-fluid reveal">
		<div class="container-services">
			{% include "shared/_contact_section.html.twig" %}
		</div>
	</div>
{% endblock %}

{% block importmap %}
	{{ importmap(['app', 'fadeIn', 'homepage', 'popup']) }}
{% endblock %}
