<div class="row featurette">
	<div class="row">
		<div class="col-lg-7 col-md-12 mb-4 mt-4">
			<div id="project" class="project-container">
				<h2 class="project-heading">
					<span class="heading-part1">{{ 'featurette.heading1'|trans }}</span>
					<span class="heading-part2">{{ 'featurette.heading2'|trans }}</span>
				</h2>
				<p class="project-description">
					{{ 'featurette.description1'|trans|raw }}
				</p>
				<p class="project-description">
					{{ 'featurette.description2'|trans|raw }}
				</p>
				<p class="project-description">
					{{ 'featurette.description3'|trans|raw }}
				</p>
				<p class="project-description">
					{{ 'featurette.description4'|trans|raw }}
				</p>
				<p class="project-description">
					{{ 'featurette.description5'|trans|raw }}
				</p>
			</div>
		</div>
		<div class="col-lg-5 col-md-12 d-flex align-items-center mt-4">
			<img src="{{ asset('img/emma.webp') }}" class="my-photo img-fluid rounded" alt="{{ 'featurette.photo_alt'|trans }}" loading="lazy">
		</div>
	</div>
</div>
