<div class="typing-effect mt-5 text-center">
	<div class="line">
		<b>
			<h1 class="line">
				Emma VIGNERON :
				<span id="developper">
					{{ 'typing.developer'|trans }}
				</span>
				<span id="word">
					<u>{{ 'typing.word_default'|trans }}</u>
				</span>
			</h1>
		</b>
	</div>
	<p class="tagline">"{{ 'typing.tagline'|trans }}"</p>
	<div class="button-container mt-4">
		<a href="{{ path('contact_index') }}" class="cta-button">{{ 'typing.contact'|trans }}</a>
		<a href="{{ path('services_index') }}" class="secondary-button">{{ 'typing.services'|trans }}</a>
	</div>
</div>
