<section class="legal-page container py-5">
	<h1 class="text-center mb-4">{{ 'legal.cookies.title'|trans }}</h1>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>{{ 'legal.cookies.definition'|trans }}</h2>
		<p>{{ 'legal.cookies.definition_details'|trans }}</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>{{ 'legal.cookies.usage'|trans }}</h2>
		<p>{{ 'legal.cookies.usage_details'|trans }}</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>{{ 'legal.cookies.management'|trans }}</h2>
		<p>{{ 'legal.cookies.management_details'|trans }}</p>
	</div>
</section>
