{% extends 'base.html.twig' %}

{% block title %}
	{{ 'legal.title'|trans }}
{% endblock %}

{% block body %}
	<div class="legalies-container">
		<h2>{{ 'legal.summary'|trans }}</h2>
		<ul class="sommaire-list">
			<li>
				<a href="#mentions-legales">{{ 'legal.legal_mentions'|trans }}</a>
			</li>
			<li>
				<a href="#cgv">{{ 'legal.terms_of_sale'|trans }}</a>
			</li>
			<li>
				<a href="#confidentialite">{{ 'legal.privacy_policy'|trans }}</a>
			</li>
			<li>
				<a href="#cgu">{{ 'legal.terms_of_use'|trans }}</a>
			</li>
			<li>
				<a href="#cookies">{{ 'legal.cookies_policy'|trans }}</a>
			</li>
			<li>
				<a href="#annulation">{{ 'legal.cancellation_policy'|trans }}</a>
			</li>
		</ul>

		<section id="mentions-legales" class="policy-section">
			{% include "legal/_legal.html.twig" %}
		</section>

		<section id="cgv" class="policy-section">
			{% include "legal/_cgv.html.twig" %}
		</section>

		<section id="confidentialite" class="policy-section">
			{% include "legal/_confidentiality.html.twig" %}
		</section>

		<section id="cgu" class="policy-section">
			{% include "legal/_cgu.html.twig" %}
		</section>

		<section id="cookies" class="policy-section">
			{% include "legal/_cookies.html.twig" %}
		</section>

		<section id="annulation" class="policy-section">
			{% include "legal/_cancelled.html.twig" %}
		</section>

		<section id="annulation" class="policy-section">
			{% include "legal/_personal_data.html.twig" %}
		</section>
	</div>
{% endblock %}
