{% extends 'base.html.twig' %}


{% block title %}
	{{ 'services.title'|trans }}
{% endblock %}
{% block meta_description %}
	{{ 'services.meta_description'|trans }}
{% endblock %}
{% block meta_keywords %}
	<meta name="keywords" content="{{ 'services.meta_keywords'|trans }}">
{% endblock %}

{% block body %}

	{% include "home/project.html.twig" %}

	<div class="container-services">
		<div class="container">
			<div class="row align-items-center">
				<div class="service-top">
					<div class="text-block">
						{{ 'featurette.description2'|trans|raw }}
						{{ 'featurette.description3'|trans|raw }}
					</div>
					<div class="image-block">
						<img src="{{ asset('img/services/service-illustration.webp') }}" alt="Illustration des services" loading="lazy">
					</div>
				</div>

				<div class="service-description-bottom">
					{{ 'featurette.description4'|trans|raw }}
				</div>

				{% include "services/listing.html.twig" %}

			</div>
		</div>
		{% include "services/picto.html.twig" %}

		{% include "shared/_contact_section.html.twig" %}


	</div>

{% endblock %}
