<div class="bg-custom">
	<div class="services-section">

		<div class="service-outer central-block">
			<div class="service-title-box">
				<i class="fa-solid fa-desktop"></i>
				<h2 class="card-title">{{ 'services.web_design.title'|trans }}</h2>
			</div>
			<p class="card-text">{{ 'services.web_design.description'|trans|raw }}</p>
		</div>
		{# Deux colonnes #}
		<div class="service-columns">
			<div class="service-block">
				<div class="service-title-box">
					<i class="fa-solid fa-file-lines"></i>
					<h2 class="card-title">{{ 'services.computer_courses.title'|trans }}</h2>
				</div>
				<p class="card-text">{{ 'services.computer_courses.description'|trans|raw }}</p>
			</div>

			<div class="service-block">
				<div class="service-title-box">
					<i class="fa-solid fa-graduation-cap"></i>
					<h2 class="card-title">{{ 'services.training.title'|trans }}</h2>
				</div>
				<p class="card-text">{{ 'services.training.description'|trans|raw }}</p>
			</div>
		</div>

	</div>
</div>
