{% extends 'base.html.twig' %}

{% block title %}Blog - Caméléon Solutions
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% for article in articles %}
				{% if article.slug %}
					<div class="col-md-3">
						<article class="post">
							<div class="article-v2">
								<figure class="article-thumb">
									<a href="{{ path('blog_show', {'slug': article.slug}) }}">
										<img src="{{ asset('images/' ~ article.image) }}" alt="{{ article.title }}"/>
									</a>
								</figure>
								<div class="article-content-main">
									<div class="article-header">
										<h2 class="entry-title">
											<a href="{{ path('blog_show', {'slug': article.slug}) }}">{{ article.title }}</a>
										</h2>
										<div class="entry-meta">
											<div class="entry-date">{{ article.publishedAt|date('F j, Y') }}</div>
										</div>
									</div>
									<div class="article-content">
										<p>{{ article.content|slice(0, 100) ~ '...' }}</p>
									</div>
									<div class="article-footer">
										<div class="row">
											<div class="col-6 text-left footer-link">
												<a href="{{ path('blog_show', {'slug': article.slug}) }}" class="more-link">Read More</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				{% else %}
					<p>Le slug de l'article "{{ article.title }}" est manquant.</p>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
