{% extends 'base.html.twig' %}

{% block title %}
	{{ article.name }}
	- Caméléon Solutions
{% endblock %}

{% block body %}
	<div class="container my-5">
		<article class="post">
			<div class="article-v2">
				<figure class="article-thumb">
					<img src="{{ asset('img/blog/' ~ article.imageName) }}" alt="{{ article.name }}" class="img-fluid rounded" style="width: 100%; height: auto;">
				</figure>
				<div class="article-content-main">
					<div class="article-header">
						<h2 class="entry-title">{{ article.name }}</h2>
						<div class="entry-meta">
							<span class="entry-date">{{ article.createdAt|date('F j, Y') }}</span>
						</div>
					</div>
					<div class="article-content">
						<p>{{ article.content }}</p>
					</div>
				</div>
			</div>
		</article>
	</div>
{% endblock %}
