{% extends 'base.html.twig' %}

{% block title %}
	Me contacter - Caméléon Solutions
{% endblock %}

{% block body %}
<div id="contact-page" class="contact-page">
	<section class="contact-intro text-center">
		<h2>Contactez Caméléon Solutions</h2>
		<p>Que vous ayez une question sur nos services ou besoin d'un devis, je suis à votre écoute. Envoyez-moii un message via le formulaire ci-dessous ou utilisez nos coordonnées pour nous joindre directement.</p>
	</section>

	<section class="contact-form-section">
		<div class="container">
			<div
				class="row ontact-section">
				<!-- Formulaire de contact -->
				<div class="col contact-form-wrapper  contact-form">
					<h3>Envoyez-moi un message</h3>
					{{ form_start(form, {'attr': {'class': 'contact-form'}}) }}
					{{ form_errors(form) }}
					<div class="row">
						<div class="col-md-6 mb-3">
							{{ form_row(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
						</div>
						<div class="col-md-6 mb-3">
							{{ form_row(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
						</div>
						<div class="col-md-6 mb-3">
							{{ form_row(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}
						</div>
						<div class="col-md-6 mb-3">
							{{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'contact@cameleon-solutions.fr'}}) }}
						</div>
						<div class="col-md-6 mb-3">
							{{ form_row(form.companyName, {'attr': {'class': 'form-control', 'placeholder': 'Nom de l\'entreprise (si applicable)'}}) }}
                            </div>
                            <div class="col-md-6 mb-3 siret-number-field">
                                {{ form_row(form.siretNumber, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de SIRET'}}) }}
                            </div>
                            <div class="col-12 mb-3">
                                {{ form_row(form.requestSubject, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-12 mb-3">
                                {{ form_row(form.content, {'attr': {'class': 'form-control', 'rows': 5, 'placeholder': 'Votre demande'}}) }}
                            </div>
                        </div>
                        <button id="contact-button" class="btn btn-primary mt-4" type="submit">
                            <span>Envoyer le message</span>
                        </button>
                        {{ form_end(form) }}
                    </div>

                    <div class="col contact-info-wrapper contact-section">
                        <h3>Nos coordonnées</h3>
                        <p><strong>Email :</strong> contact@cameleon-solutions.fr</p>
                        <p><strong>Téléphone :</strong> 06 35 42 93 11</p>
                        <p><strong>Adresse :</strong> 5110 Avenue des pyrénées 47330 Montauriol, France</p>

                        <h4>Horaires d'ouverture</h4>
                        <p><strong>Lundi - Vendredi :</strong> 8h30 - 18h</p>
                        <p><strong>Samedi - Dimanche :</strong> Fermé</p>
                        <div class="contact-final-message">
                   
                          <img src="/img/autres/giphy-3--unscreen.gif" alt="" width="200" style="position: relative; top: 100px;">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
