<h1>Demande de contact</h1>
<p>Bonjour,</p>
<p>Vous venez de recevoir une demande de contact.</p>
<p>Prénom et nom du demandeur :
	{{ contact.firstname }}
	{{ contact.lastname }}</p>
<p>Email du demandeur :
	{{ contact.email }}</p>
<p>Numéro du demandeur :
	{{ contact.phone }}</p>
<p>Contenu de la demande :
	{{ contact.content }}</p>
<p>Vous pouvez répondre à cette demande en utilisant les coordonnées suivantes :</p>
<p>Email : xxx
	    Téléphone : xxx
	    Adresse : xxx</p>
<p>Cordialement,</p>
<p>L'équipe Caméléon Solutions</p>
