<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{% if app.request.attributes.get('_route') == 'homepage' %}
					Cameleon Solutions
				{% else %}
					{{ page_title | default('Bienvenue') }}
					- Cameleon Solutions
				{% endif %}
			{% endblock %}
		</title>


		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Construisons ensemble des expériences numériques uniques : création de sites web, formation et accompagnement personnalisé.">
		<meta name="keywords" content="Caméléon Solutions, expériences numériques, création de sites web, formation aux outils numériques, solutions personnalisées, développement web, accompagnement numérique">
		<meta name="author" content="Cameleon Solutions">
		<meta name="robots" content="index, follow">
		<meta name="revisit-after" content="7 days">
		<meta name="language" content="fr">
		<meta property="og:url" content="{{ app.request.uri }}">
		<meta name="twitter:title" content="Cameleon Solutions">
		<meta name="twitter:description" content="Solutions numériques sur mesure : création de sites web, formations, et accompagnement personnalisé. Contactez-nous!">
		<meta name="twitter:image" content="{{ asset('img/CAMELEON-SOLUTIONS-fond-blanc.webp') }}">
		<meta name="theme-color" content="#ffffff">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="msapplication-TileImage" content="{{ asset('img/mstile-150x150.png') }}">
		<meta name="msapplication-TileColor" content="#ffffff">

		<meta name="generator" content="Symfony">
		<meta property="og:title" content="Cameleon Solutions">
		<meta property="og:image" content="{{ asset('img/CAMELEON-SOLUTIONS-fond-blanc.webp') }}">
		<meta property="og:image:type" content="image/png">

		<meta property="og:description" content="Solutions numériques sur mesure : création de sites web, formations, et accompagnement personnalisé. Contactez-nous!">
		<meta name="twitter:card" content="summary_large_image">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon-16x16.webp') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon-32x32.webp') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/apple-touch-icon.webp') }}">


		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/solid.min.css" integrity="sha384-..." crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('/tarteaucitron/css/tarteaucitron.css') }}" media="print" onload="this.onload=null;this.media='all';">

		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}

			{% endblock %}
		{% endblock %}

	</head>
	<body>
		<header>
			{% set isHomepage = app.request.attributes.get('_route') == 'homepage' %}
			{% if not isHomepage %}
				{% include "shared/_navbar.html.twig" with {'navbarClass': 'navbar-background'} %}
			{% endif %}
		</header>
		<main>
			{% block body %}
				{% if app.environment == 'prod' %}
					<!-- Google Tag Manager (noscript) -->
					<noscript>
						<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFZ2VG76" height="0" width="0" style="display:none;visibility:hidden"></iframe>
					</noscript>
					<!-- End Google Tag Manager (noscript) -->
					<script type="text/javascript">
						tarteaucitron.user.gtagUa = 'G-RMTGZX695N';
// tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */
};
(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
					</script>

				{% endif %}
				{% include "shared/_flash.html.twig" %}


			{% endblock %}
			{% include "shared/_footer.html.twig" %}
			<button id="scrollToTopBtn" title="Retour en haut">↑</button>
		</main>
		{% if tarteaucitron.job is defined %}
			<script defer>
				tarteaucitron.job.push('googletagmanager');
			</script>
		{% endif %}
		<script src="{{ asset('/tarteaucitron/tarteaucitron.js') }}" defer></script>
		<script src="{{ asset('/tarteaucitron/lang/tarteaucitron.fr.js') }}" defer></script>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
if (typeof tarteaucitron !== "undefined") {
console.log("Tarteaucitron chargé !");

// Initialisation de tarteaucitron
tarteaucitron.init({
privacyUrl: "/politique-de-confidentialite", /* Lien vers la politique de confidentialité */
bodyPosition: "bottom", /* Position du bandeau de consentement */
hashtag: "#tarteaucitron", /* Hashtag pour ouvrir le panneau */
cookieName: "tarteaucitron", /* Nom du cookie de consentement */
orientation: "middle", /* Position du bandeau */
groupServices: false, /* Grouper les services par catégorie */
showDetailsOnClick: true, /* Développer les détails au clic */
serviceDefaultState: "wait", /* État par défaut des services */
showAlertSmall: false, /* Alerte de consentement minimal */
cookieslist: false, /* Afficher la liste des cookies */
showIcon: true, /* Afficher une icône persistante pour gérer les cookies */
iconPosition: "BottomRight", /* Position de l'icône */
highPrivacy: true, /* Consentement non automatique */
AcceptAllCta: true, /* Bouton "Tout accepter" */
DenyAllCta: true, /* Bouton "Tout refuser" */
mandatory: true, /* Afficher les cookies obligatoires */
googleConsentMode: true, /* Activer Google Consent Mode */
readmoreLink: "/cookies", /* Page dédiée aux informations des cookies */
});

// Ajout des services (Google Tag Manager, Google Analytics)
tarteaucitron.user.googletagmanagerId = 'GTM-TFZ2VG76';
tarteaucitron.user.gtagUa = 'G-RMTGZX695N'; // UA ou ID GA4
(tarteaucitron.job = tarteaucitron.job || []).push('googletagmanager');
(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
} else {
console.error("Tarteaucitron n'est pas défini !");
}
});
		</script>
	</body>
</html>
