<nav class="navbar navbar-expand-lg {% if not isHomepage %}navbar-background{% endif %}">
	<div class="container-fluid">
		<img src="/img/autres/giphy-3--unscreen.gif" class="logo" style="width: 3%">
		<a class="navbar-brand" href="{{ path('homepage') }}">Caméléon Solutions</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mx-auto text-dark">
				<li class="nav-item">
					<a class="nav-link {% if app.request.get('_route') == 'homepage' %}active{% endif %}" href="{{ path('homepage') }}">
						Accueil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if app.request.get('_route') == 'services_index' %}active{% endif %}" href="{{ path('services_index') }}">
						Mes services
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if app.request.get('_route') == 'contact_index' %}active{% endif %}" href="{{ path('contact_index') }}">
						Contact
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if app.request.get('_route') == 'blog_index' %}active{% endif %}" href="{{ path('blog_list') }}">
						Blog
					</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a href="{{ path('admin') }}" class="nav-link">Administration</a>
						</li>
					{% endif %}
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
					{% else %}


				{% endif %}
			</div>
		</div>
	</nav>
