<div class="row d-flex justify-content-center project-container">
	{% if projects is empty %}
		<div class="col-12">
			<p>{{ 'projects.no_project'|trans }}</p>
		</div>
	{% else %}
		{% for project in projects %}
			<div class="col-md-4 mb-4 mt-3">
				<div class="card project-card h-100">
					<img src="{{ project.image }}" class="card-img-top" alt="{{ project.title }}" loading="lazy" width="400" height="400">

					<div class="card-body">
						<h5 class="card-title">{{ project.title }}</h5>
						<p class="card-text">{{ project.short_description }}</p>
						{% if project.link %}
							<a href="{{ project.link }}" class="btn btn-pdf mt-2" target="_blank">{{ 'projects.view_site'|trans }}</a>
						{% else %}
							<p>{{ 'projects.no_link'|trans }}</p>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
